.circle-enter {
  /*width: 500px;*/
  /*height: 500px;*/
  border-radius: 50%;
  position: fixed;
  transform: scale(0) rotate(0) translateY(0);
  transition: transform 7s linear, opacity 7s linear;
  will-change: transform, opacity, rotate, translateY;
  overflow: visible;
}

.circle-enter-active {
  transform: scale(0.8)  rotate(45deg) translateY(250px);
  opacity: 0;
}
