@import '../_mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.initializer {
  @include centered-message();
  position: fixed;
  opacity: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: 300;
  color: white;
}

.canvas {
  height: 100%;
  text-align: center;
  background: black;
}

.generation-toggle-btn {
  margin: auto;
  position: fixed;
  bottom: 10px;
  background-color: white;
  font-size: 2em;
  border: none;
  cursor: pointer;
  opacity: 0.2;
  transform: translate(-50%);
  &:hover {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}
.shadow-sync {
  opacity: 0.25;
  @include centered-message();
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: 300;
  user-select: none;
  color: grey;

}
@media (max-width: 600px) {
  .shadow-sync {
    font-size: 0.75em;
  }
}
